.container{
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

h1{
    font-size: 72px;
    margin-bottom: 3vh;
    color: rgb(223, 222, 195);
}

.car_photos{
    height: 70vh;
    margin: auto;
}

p{
    font-size: 36px;
    color: rgb(223, 222, 195);
}