.container{
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

h1{
    font-size: 72px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#pokedex{
    width: 30vw;
    margin: 20px;
}

p{
    font-size: 36px;
}