#login_form{
    width: 50vw;
    margin: auto;
}

#login_form .form-label{
    margin: 0;
    font-size: 24px;
    color: rgb(223, 222, 195);
}

#login_form .form-control{
    margin-bottom: 3vh;
    font-size: 24px;
}

h1{
    font-size: 56px;
    margin: 0;
    color: rgb(223, 222, 195);
}

.btn{
    background-color: rgb(58, 61, 56);
    color: rgb(223, 222, 195);
}

.btn:hover{
    color: rgb(86, 115, 130)
}