h1{
    font-size: 56px;
    text-align: center;
    margin: 0;
}

p{
    font-size: 24px;
    text-align: center;
}

.form-label{
    font-size: 24px;
    margin: 0;
}

.form-control{
    font-size: 24px;
}

.table{
    font-size: 24px;
    width: 30vw;
    margin: auto;
    margin-bottom: 24px;
}

.table th{
    width: 15vw;
}

.table td{
    text-align: center;
}