h1{
    font-size: 56px;
    text-align: center;
    margin: 0;
}

p{
    font-size: 24px;
    text-align: center;
}

.card{
    width: 50vw;
    margin: auto;
    margin-top: 25px;
    border: 1px solid black;
}

.card-title{
    font-size: 48px;
    text-align: center;
}

.form-label{
    font-size: 24px;
    margin: 0;
}

.form-control{
    font-size: 24px;
}

.table{
    font-size: 24px;
    margin: auto;
}

.table th{
    width: 12vw;
}

.table td{
    text-align: center;
}