body{
    font-family: VT323;
    background: rgb(86, 115, 130)
}

.navbar{
    color: rgb(196, 202, 208);
    background-color: rgb(58, 61, 56);
}

.navbar-brand{
    font-size: 32px;
    padding: 0;
    margin-right: 32px;
}

.nav-link{
    font-size: 24px;
    padding: 0;
    color: rgb(196, 202, 208)
}

.nav-link:hover{
    color: rgb(223, 222, 195);
}

.nav-link:not(:last-child){
    margin-right: 16px;
}

.container{
    margin-top: 3vh;
    margin-bottom: 3vh;
}