#reg_form{
    width: 50vw;
    margin: auto;
}

#reg_form .form-label{
    margin: 0;
    color: rgb(223, 222, 195);
}

.form_lines{
    margin-bottom: 3vh;
    font-size: 24px;
}

#reg_form .col{
    font-size: 32px;
    text-align: center;
}

h1{
    font-size: 56px;
    margin: 0;
    color: rgb(223, 222, 195);
}

p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 24px;
    color: rgb(223, 222, 195);
}

.btn{
    background-color: rgb(58, 61, 56);
    color: rgb(223, 222, 195);
    font-size: 24px;
}

.col{
    color: rgb(223, 222, 195);
    line-height: 1em;
}

hr{
    color: rgb(223, 222, 195);
}

.btn:hover{
    color: rgb(86, 115, 130)
}

small{
    color: red;
}