h1{
    font-size: 56px;
    text-align: center;
    margin: 0;
    color: rgb(223, 222, 195);
}

.btn{
    background-color: rgb(58, 61, 56);
    color: rgb(223, 222, 195);
    font-size: 24px;
    margin: auto;
}

.btn:hover{
    color: rgb(86, 115, 130)
}

.card{
    width: 50vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5vh;
    border: 3px solid rgb(58, 61, 56);
    box-shadow: 10px 7px rgb(43, 43, 43);
    background-color: rgb(206, 212, 218);
}

.card-title{
    margin: 0;
    color: rgb(206, 212, 218);
    background-color: rgb(101, 85, 96);
}

#card_header{
    font-size: 56px;
    margin-bottom: 0;
}

.bi{
    vertical-align: middle;
}

.card-body{
    padding: 12px;
}

.table{
    font-size: 24px;
    margin: auto;
    color: rgb(101, 85, 96);
}

#stats th{
    width: 10vw;
    text-align: right;
}

#stats td{
    text-align: left;
}

#user_pokemon th, #user_pokemon td{
    padding: 0;
}

#stats_head{
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
}

.table td{
    text-align: center;
}

.img-fluid{
    height: 56px;
}

#pokemasters{
    width: 65vw;
    margin: auto;
}

.carousel-control-prev, .carousel-control-next{
    width: 100px;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}