{% extends 'base.html.j2' %}
{% block title %}
Lookup
{% endblock %}

{% block content %}
    <h1>Welcome to the Pokedex!</h1>
    <img src="http://static.marriedgames.com.br/66a6a4d3-pokedex_kanto.png" width=300>
    <p>This webpage will allow you to lookup data on your favorite Pokemon. Please click on the "Pokemon Lookup" link in the navbar to begin.</p>
{% endblock %}