{% extends 'base.html.j2' %}
{% block title %}
Lookup
{% endblock %}

{% block content %}
    <h1>Welcome to the Pokedex!</h1>
    <p>This webpage will allow you to lookup Pokemon characteristics. Please click on the "Lookup" link in the navbar to begin.</p>
{% endblock %}