<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
        <img src="https://res.cloudinary.com/detcvmtip/image/upload/v1651806710/pokedex_images/pokeball_jooxgb.png" alt="Pokeball" width="30" class="d-inline-block align-text-bottom">
        Pokedex
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if current_user.is_authenticated %}
                <div class="navbar-nav me-auto">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                    <a class="nav-link" href="{{url_for('lookup')}}">Pokemon Lookup</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    <a class="nav-link" href="{{url_for('register')}}">Register</a>     
                </div>
            {% endif %}
        </div>
    </div>
</nav>