<div class="card">
    <div class="card-title px-4 py-0 d-flex justify-content-between align-items-center">
        <h2 id="card_header">{{user.first_name.title()}} {{user.last_name.title()}}</h2>
        <img src="{{user.get_icon_url()}}" class="img-fluid d-block" alt="User avatar.">
    </div>
    <div class="row g-0 align-items-center">
        <div class="col-md mx-4 mt-2">
            <table id="stats" class="table table-sm table-borderless align-middle">
                <tr>
                    <th scope="row">Battles:</th>
                    <td>{{user.battles}}</td>
                    <th scope="row"><i class="bi bi-trophy-fill"></i>&nbsp;Wins:</th>
                    <td>{{user.wins}}</td>
                    <th scope="row">Losses:</th>
                    <td>{{user.losses}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row g-0 align-items-center">
        <div class="col-md-6">
            <div class="card-body mx-auto pt-0">
                <table id="user_pokemon" class="table table-sm table-borderless align-middle">
                    <tr>
                        <th id="stats_head">Pok&eacute;mon Roster:</th>
                    </tr>
                    {% for pokemon_table in user.pokemon %}
                    <tr>
                        <td>{{pokemon_table.name.title()}}</td>
                        {# <td><img src="{{pokemon_table.sprite}}" class="img-fluid d-block mx-auto" alt="User Pokemon"></td> #}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 mx-4 my-4">
                <a class="btn" href="{{url_for('main.view_user_pokemon', id=user.id)}}">Pok&eacute;mon Details&nbsp;<i class="bi bi-collection"></i></a>
            </div>
            <div class="row g-0 mx-4 my-4">
                <a class="btn" href="#">Battle&nbsp;<i class="bi bi-controller"></i></a>
            </div>
        </div>
    </div>
</div>