{% extends 'base.html.j2' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-5">
        <img id="pokedex" src="https://res.cloudinary.com/detcvmtip/image/upload/v1651806710/pokedex_images/pokedex_ke6ryv.png">
    </div>
    <div class="col-7">
        <h1>Welcome to the Pokedex!</h1>
        <p>The Pokedex allows you to lookup data on your favorite Pokemon. Please click the "Pokemon Lookup" link at the top of the page to begin.</p>
    </div>
</div>
{% endblock %}