{% extends 'base.html.j2' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lookup.css')}}">
{% endblock %}

{% block title %}
Lookup
{% endblock %}

{% block content %}
    <div id="lookup_form">
        <h1>Find Pokemon</h1>
        <p>Enter your favorite Pokemon in the search bar to look it up in the Pokedex.</p>
        <hr>
        <form action="{{url_for('main.lookup')}}" method="POST">
            {{form.hidden_tag()}}
            <div>
                {{form.poke_name.label(class="form-label")}}
                {{form.poke_name(class="form-control")}}
                {% for error in form.poke_name.errors %}
                <span style="color:red">{{error}}</span>
                {% endfor %}
            </div>
            <br>
            <div>
                {{form.search(class="btn form-control")}}
            </div>
        </form>
    </div>

{% if pokemon_table %}
    <div class="card">
    <h2 class="card-title">{{(pokemon_table.name).title()}}</h2>
        <div class="row g-0 align-items-center">
            <div class="col-md-5">
                <img src="{{pokemon_table.sprite}}" class="img-fluid d-block mx-auto" alt="Picture of {{pokemon_table.name}}.">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <table class="table table-borderless align-middle">
                        <tbody>
                            <tr>
                                <th scope="row">Base Experience</th>
                                <td>{{pokemon_table.base_experience}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Base HP</th>
                                <td>{{pokemon_table.hp_base}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Base Attack</th>
                                <td>{{pokemon_table.attack_base}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Base Defense</th>
                                <td>{{pokemon_table.defense_base}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Ability</th>
                                <td>{{(pokemon_table.ability_name).title()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}