{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
{% endblock %}


{% block title %}
    {% if current_user.is_authenticated %}
    Edit Profile
    {% else %}
    Register
    {% endif %}
{% endblock %}

{% block content %}
<div id="reg_form">
    {% if current_user.is_authenticated %}
    <h1>Edit Profile</h1>
    <p>Edit your profile by completing all fields in the form below.</p>
    <hr>
    {% else %}
    <h1>Register</h1>
    <p>Register below to gain access to the Pok&eacute;dex.</p>
    <hr>
    {% endif %}

    <form action="{{url_for('auth.edit_profile') if current_user.is_authenticated else url_for('auth.register')}}" method="POST">
        {{form.hidden_tag()}}
        <div>
            {{form.icon.label(class="form-label")}}
            <div class="container my-0">
                <div class="row">
                    {% for subfield in form.icon %}
                    <div class="col d-flex align-items-center justify-content-center">
                        {{subfield.label | safe}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mt-0">
                <div class="row">
                    {% for subfield in form.icon %}
                    <div class="col text-center">
                        {{subfield}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            {{form.first_name.label(class="form-label")}}
            {{form.first_name(class="form-control", value=current_user.first_name)}}
            {% for error in form.first_name.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div>
            {{form.last_name.label(class="form-label")}}
            {{form.last_name(class="form-control", value=current_user.last_name)}}
            {% for error in form.last_name.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=current_user.email)}}
            {% for error in form.email.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div>
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}
            {% for error in form.password.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div>
            {{form.confirm_password.label(class="form-label")}}
            {{form.confirm_password(class="form-control")}}
            {% for error in form.confirm_password.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div>
            {{form.submit(class="btn form-control")}}
        </div>
    </form>
</div>
{% endblock %}